%h1 Liste des mots ou expression

%table
  %tr
    %th Mot directeur
    %th Francais
    %th Compteur
    %th Italien
    %th
    %th
    %th

  - @vocabulaires.each do |vocabulaire|
    %tr
      %td= vocabulaire.mot_directeur
      %td= vocabulaire.francais
      %td= vocabulaire.compteur
      %td= vocabulaire.italien
      %td= link_to 'Voir', vocabulaire
      %td= link_to 'Corriger', edit_vocabulaire_path(vocabulaire)
      %td= link_to 'Supprimer', vocabulaire, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= paginate @vocabulaires
= link_to 'Nouveau mot ou expression', new_vocabulaire_path
