%h1 Liste des mots ou expression

%table
  %tr
    - (1..2).each_with_index do |i|
      %th Mot directeur
      %th Francais
      %th Compteur
      %th Italien
      %th
      %th
      %th
      -if i == 1
        %th#separateur

  - liste = Vocabulaire.deux_colonnes(@vocabulaires)
  - liste.each do |item|
    %tr
      %td= item[:gauche].mot_directeur
      %td= if item[:gauche].francais.length > 25 then item[:gauche].francais[0..21]+'...' else item[:gauche].francais end
      %td= item[:gauche].compteur
      %td= if item[:gauche].italien.length > 25 then item[:gauche].italien[0..21]+'...' else item[:gauche].italien end
      %td= link_to 'Voir', item[:gauche]
      %td= link_to 'Corriger', edit_vocabulaire_path(item[:gauche])
      %td= link_to 'Supprimer', item[:gauche], :method => :delete, :data => { :confirm => 'Are you sure?' }
      -if item.has_key?(:droite)
        %td#separateur
        %td= item[:droite].mot_directeur
        %td= if item[:droite].francais.length > 25 then item[:droite].francais[0..21]+'...' else item[:droite].francais end
        %td= item[:droite].compteur
        %td= if item[:droite].italien.length > 25 then item[:droite].italien[0..21]+'...' else item[:droite].italien end
        %td= link_to 'Voir', item[:droite]
        %td= link_to 'Corriger', edit_vocabulaire_path(item[:droite])
        %td= link_to 'Supprimer', item[:droite], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= paginate @vocabulaires
= link_to 'Nouveau mot ou expression', new_vocabulaire_path
