= form_for @conjugaison do |f|
  - if @conjugaison.errors.any?
    #error_explanation
      %h2= "#{pluralize(@conjugaison.errors.count, "error")} prohibited this conjugaison from being saved:"
      %ul
        - @conjugaison.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :infinitif, size: 20
    = f.text_field :infinitif
  .field
    = f.label :essais
    = f.number_field :essais_verbe

  %br
  %table#saisie
    %tr
      %th Mode
      %th Temps
      %th Radical
      %th Voyelle
      %th s1
      %th s2
      %th s3
      %th p1
      %th p2
      %th p3
    %tr
      %td Indicatif
      %td Présent
      %td=text_field_tag('ind[pres][radical]', value = @conjugaison.verbe.ind.pres.radical,options={size: 10})
      %td=text_field_tag('ind[pres][voyelle_thematique]', value = @conjugaison.verbe.ind.pres.voyelle_thematique, options={size: 1})
      - (0..5).each do |i|
        %td=text_field_tag('formes[]', value = @conjugaison.verbe.ind.pres.personnes[i], options={size: 10})
    %tr
      %td Essais
      %td
      %td
      %td
      - (0..5).each do |i|
        %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[i], options={size: 2})
    %tr
      %td Indicatif
      %td Imparfait
      %td=text_field_tag('ind[imp][radical]', value = @conjugaison.verbe.ind.imp.radical,options={size: 10})
      %td=text_field_tag('ind[imp][voyelle_thematique]', value = @conjugaison.verbe.ind.imp.voyelle_thematique, options={size: 1})
      - (0..5).each do |i|
        %td=text_field_tag('formes[]', value = @conjugaison.verbe.ind.imp.personnes[i], options={size: 10})
    %tr
      %td Essais
      %td
      %td
      %td
      - (6..11).each do |i|
        %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[i], options={size: 2})
    %tr
      %td Indicatif
      %td Parfait
      %td=text_field_tag('ind[parf][radical]', value = @conjugaison.verbe.ind.parf.radical,options={size: 10})
      %td=text_field_tag('ind[parf][voyelle_thematique]', value = @conjugaison.verbe.ind.parf.voyelle_thematique, options={size: 1})
      - (0..5).each do |i|
        %td=text_field_tag('formes[]', value = @conjugaison.verbe.ind.parf.personnes[i], options={size: 10})
    %tr
      %td Essais
      %td
      %td
      %td
      - (12..17).each do |i|
        %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[i], options={size: 2})
    %tr
      %td Indicatif
      %td Futur
      %td=text_field_tag('ind[fut][radical]', value = @conjugaison.verbe.ind.fut.radical,options={size: 10})
      %td=text_field_tag('ind[fut][voyelle_thematique]', value = @conjugaison.verbe.ind.fut.voyelle_thematique, options={size: 1})
      - (0..5).each do |i|
        %td=text_field_tag('formes[]', value = @conjugaison.verbe.ind.fut.personnes[i], options={size: 10})
    %tr
      %td Essais
      %td
      %td
      %td
      - (18..23).each do |i|
        %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[i], options={size: 2})
    %tr
      %td Subjonctif
      %td Présent
      %td=text_field_tag('sub[pres][radical]', value = @conjugaison.verbe.sub.pres.radical,options={size: 10})
      %td=text_field_tag('sub[pres][voyelle_thematique]', value = @conjugaison.verbe.sub.pres.voyelle_thematique, options={size: 1})
      - (0..5).each do |i|
        %td=text_field_tag('formes[]', value = @conjugaison.verbe.sub.pres.personnes[i], options={size: 10})
    %tr
      %td Essais
      %td
      %td
      %td
      - (24..29).each do |i|
        %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[i], options={size: 2})
    %tr
      %td Subjonctif
      %td Imparfait
      %td=text_field_tag('sub[imp][radical]', value = @conjugaison.verbe.sub.imp.radical,options={size: 10})
      %td=text_field_tag('sub[imp][voyelle_thematique]', value = @conjugaison.verbe.sub.imp.voyelle_thematique, options={size: 1})
      - (0..5).each do |i|
        %td=text_field_tag('formes[]', value = @conjugaison.verbe.sub.imp.personnes[i], options={size: 10})
    %tr
      %td Essais
      %td
      %td
      %td
      - (30..35).each do |i|
        %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[i], options={size: 2})
    %tr
      %td{:colspan => 2} Impératif
      %td=text_field_tag('imp[radical]', value = @conjugaison.verbe.imp.radical,options={size: 10})
      %td=text_field_tag('imp[voyelle_thematique]', value = @conjugaison.verbe.imp.voyelle_thematique, options={size: 1})
      - (0..5).each do |i|
        %td=text_field_tag('formes[]', value = @conjugaison.verbe.imp.personnes[i], options={size: 10})
    %tr
      %td Essais
      %td
      %td
      %td
      - (36..41).each do |i|
        %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[i], options={size: 2})
    %tr
      %td Conditionnel
      %td Présent
      %td=text_field_tag('cond[pres][radical]', value = @conjugaison.verbe.cond.pres.radical,options={size: 10})
      %td=text_field_tag('cond[pres][voyelle_thematique]', value = @conjugaison.verbe.cond.pres.voyelle_thematique, options={size: 1})
      - (0..5).each do |i|
        %td=text_field_tag('formes[]', value = @conjugaison.verbe.cond.pres.personnes[i], options={size: 10})
    %tr
      %td Essais
      %td
      %td
      %td
      - (42..47).each do |i|
        %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[i], options={size: 2})
    %tr
      %td{:colspan => 2} Gérondif
      %td{:colspan => 6}=text_field_tag('formes[]', value = @conjugaison.verbe.ger,options={size: 10})
    %tr
      %td Essais
      %td
      %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[48], options={size: 2})
    %tr
      %td{:colspan => 2} Participe passé
      %td{:colspan => 6}=text_field_tag('formes[]', value = @conjugaison.verbe.ppass, options={size: 10})
    %tr
      %td Essais
      %td
      %td=text_field_tag('compteurs[]', value = @conjugaison.verbe.compteurs[49], options={size: 2})

  .actions
    = f.submit 'Enregistrer'
