%h1 Liste des verbes connus

%table
  %tr
    %th Infinitif
    %th Essais
    %th
    %th
    %th

  - @conjugaisons.each do |conjugaison|
    %tr
      %td= conjugaison.infinitif
      %td= conjugaison.essais_verbe
      %td= link_to 'Voir', conjugaison
      %td= link_to 'Corriger', edit_conjugaison_path(conjugaison)
      %td= link_to 'Copier', copie_conjugaison_path(conjugaison)
      %td= link_to 'Supprimer', conjugaison, :method => :delete, :data => { :confirm => 'Êtes-vous sûr ?' }

%br

= link_to 'Nouvelle Conjugaison', new_conjugaison_path
