%p#notice= notice

%p
  %b Infinitif:
  = @conjugaison.infinitif
%p
  %b Essais:
  = @conjugaison.essais_verbe

%table#verbe1
  %tr
    %th#mode
    %th PRESENT
    %th IMPARFAIT
    %th PARFAIT
    %th FUTUR
  %tr
    %td#gras{:rowspan => 6} INDICATIF
    %td Io#{' '+@verbe.ind.pres.s1}
    %td Io#{' '+@verbe.ind.imp.s1}
    %td Io#{' '+@verbe.ind.parf.s1}
    %td Io#{' '+@verbe.ind.fut.s1}
  %tr
    %td Tu#{' '+@verbe.ind.pres.s2}
    %td Tu#{' '+@verbe.ind.imp.s2}
    %td Tu#{' '+@verbe.ind.parf.s2}
    %td Tu#{' '+@verbe.ind.fut.s2}
  %tr
    %td Lui/Lei#{' '+@verbe.ind.pres.s3}
    %td Lui/Lei#{' '+@verbe.ind.imp.s3}
    %td Lui/Lei#{' '+@verbe.ind.parf.s3}
    %td Lui/Lei#{' '+@verbe.ind.fut.s3}
  %tr
    %td Noi#{' '+@verbe.ind.pres.p1}
    %td Noi#{' '+@verbe.ind.imp.p1}
    %td Noi#{' '+@verbe.ind.parf.p1}
    %td Noi#{' '+@verbe.ind.fut.p1}
  %tr
    %td Voi#{' '+@verbe.ind.pres.p2}
    %td Voi#{' '+@verbe.ind.imp.p2}
    %td Voi#{' '+@verbe.ind.parf.p2}
    %td Voi#{' '+@verbe.ind.fut.p2}
  %tr
    %td Loro#{' '+@verbe.ind.pres.p3}
    %td Loro#{' '+@verbe.ind.imp.p3}
    %td Loro#{' '+@verbe.ind.parf.p3}
    %td Loro#{' '+@verbe.ind.fut.p3}

%table#verbe2
  %tr
    %th#mode
    %th PRESENT
    %th IMPARFAIT
    %th IMPERATIF
    %th CONDITIONNEL
  %tr
    %td#gras{:rowspan => 6} SUBJONCTIF
    %td Che io#{' '+@verbe.sub.pres.s1}
    %td Che io#{' '+@verbe.sub.imp.s1}
    %td=@verbe.imp.s1
    %td Io#{' '+@verbe.cond.pres.s1}
  %tr
    %td Che tu#{' '+@verbe.sub.pres.s2}
    %td Che tu#{' '+@verbe.sub.imp.s2}
    %td=@verbe.imp.s2
    %td Tu#{' '+@verbe.cond.pres.s2}
  %tr
    %td Che lui/lei#{' '+@verbe.sub.pres.s3}
    %td Che lui/lei#{' '+@verbe.sub.imp.s3}
    %td=@verbe.imp.s3
    %td Lui/Lei#{' '+@verbe.cond.pres.s3}
  %tr
    %td Che noi#{' '+@verbe.sub.pres.p1}
    %td Che noi#{' '+@verbe.sub.imp.p1}
    %td=@verbe.imp.p1
    %td Noi#{' '+@verbe.cond.pres.p1}
  %tr
    %td Che voi#{' '+@verbe.sub.pres.p2}
    %td Che voi#{' '+@verbe.sub.imp.p2}
    %td=@verbe.imp.p2
    %td Voi#{' '+@verbe.cond.pres.p2}
  %tr
    %td Che loro#{' '+@verbe.sub.pres.p3}
    %td Che loro#{' '+@verbe.sub.imp.p3}
    %td=@verbe.imp.p3
    %td Loro#{' '+@verbe.cond.pres.p3}

%table#verbe3
  %tr
    %th GERONDIF
    %th PARTICIPE PASSE

  %tr
    %td=@verbe.ger
    %td=@verbe.ppass

= link_to 'Corriger', edit_conjugaison_path(@conjugaison)
\|
= link_to 'Retour', conjugaisons_path
