%p#notice= notice

%p
  %b Infinitif:
  = @conjugaison.infinitif
%p
  %b Essais:
  = @conjugaison.essais_verbe

%table#verbe1
  -tab_temps=['ind.pres.','ind.imp.','ind.parf.','ind.fut.']
  -tab_personnes=['s1','s2','s3','p1','p2','p3']
  %tr
    %th#mode
    %th PRESENT
    %th IMPARFAIT
    %th PARFAIT
    %th FUTUR
  -tab_personnes.each do |personne|
    %tr
      -if personne == 's1'
        %td#gras{:rowspan => 6} INDICATIF
      -tab_temps.each do |temps|
        %td=@conjugaison.verbe.show(temps+personne)

%table#verbe2
  -tab_temps=['sub.pres.','sub.imp.','imp.','cond.pres.']
  %tr
    %th#mode
    %th PRESENT
    %th IMPARFAIT
    %th IMPERATIF
    %th CONDITIONNEL
  -tab_personnes.each do |personne|
    %tr
      -if personne == 's1'
        %td#gras{:rowspan => 6} SUBJONCTIF
      -tab_temps.each do |temps|
        %td=@conjugaison.verbe.show(temps+personne)

%table#verbe3
  %tr
    %th GERONDIF
    %th PARTICIPE PASSE

  %tr
    %td=@conjugaison.verbe.show('ger')
    %td=@conjugaison.verbe.show('ppass')
-if user_signed_in? and current_user[:email] == 'jacques.marzin@free.fr'
  = link_to 'Corriger', edit_conjugaison_path(@conjugaison)
  \|
= link_to 'Retour', conjugaisons_path
